<% @movie_lists = @movie.movie_lists.where('user_id = ?', current_user.id) %>

User's lists:
<table>
  <tbody>
  <% @movie_lists.each do |list| %>
      <tr>
        <td>
          <%= link_to list.name, list %>
        </td>
        <td>
          <%= link_to "remove", {:controller => :movie_lists, :action => :delete_movie,
                                 :movie_id => @movie.id, :id => list.id},
                      :method => :post, :remote => true %>
        </td>
      </tr>
  <% end %>

  <% current_user.movie_lists.each do |list| %>
      <% if not @movie_lists.exists?(list) %>
          <tr>
            <td>
              <%= link_to list.name, list %>
            </td>
            <td>
              <%= link_to "add", {:controller => :movie_lists, :action => :add_movie,
                                  :movie_id => @movie.id, :id => list.id},
                          :method => :post, :remote => true %>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
